body{background-color:rgb(163, 163, 163); margin: 0; position:relative;}
.hidden {display:none;}
.todoinput { width: 300px; height: 20px; font-size: 15px; border: solid 2px beige; border-radius: 5px;}
.block {display:block; margin:40px;}
ul li { list-style: none; font-size: 20px;}

#textbody { width: 50%; height: auto; top: 100px; left: 300px; position:absolute; 
            text-align: center;}

#chose, #range, #logininput { width: 100px; height:20px; text-align:left; font-size: 1em; border-radius: 15px; border: solid 2px beige;}
#casinobtn, #loginbtn {width:100px; height:35px; font-size: 1em; font-weight: bold; border-radius: 10px; 
            background-color:rgb(226, 228, 228); color:rgb(70, 70, 70);
            border: solid 2px rgb(221,221,221); 
            }
#casinobtn:hover, #loginbtn:hover {background-color:rgb(221, 221, 221); color:black;}