body{background-color:beige; margin: 0; position:relative;}
.hidden {display:none;}
.todoinput { width: 300px; height: 20px; font-size: 15px; border: solid 2px beige; border-radius: 5px;}
ul li { list-style: none; font-size: 20px;}

#textbody { width: 50%; height: auto; top: 100px; left: 300px; position:absolute; 
            text-align: center;}

