body { margin: 0; text-align: center; background-color: rgb(93, 122, 215); color:white;}
h1 {margin:5% 5% 3% 5%; font-size: 2.5rem; font-weight:600; text-shadow: 0px 2px 2px grey;}
header {position: relative; margin: 10% 0 0 0; width: 100%; height: 30%;}
article {position: relative; margin: 0; width: 100%; height: 500px;}
footer {position: relative; margin: 0 0 10% 0; width: 100%; height: 50px;}

.subtitle { font-size: 1rem; }
#subtitle {padding: 0 3% 3% 3%;}

.gamecontainer { position: absolute; left: 10%; top:5%;
                 width: 80%; height: 80%; }
.gamebox { display: inline-block; margin: 3%; position: absolute; 
           line-height: 850%; font-weight: 500; font-size: 1.1em;
           color:rgb(66, 66, 66); text-shadow: 0px 2px 2px white;
           width: 46%; height: 38%; border-radius: 10px;}
.gamebox:hover {font-size: 1.5rem; font-weight: 500; line-height: 700%; cursor:pointer;
                color: white; text-shadow: 0px 2px 2px grey; background-color:rgb(93, 122, 215);}
.jebi { left:0; background-color:rgb(157, 254, 221);}
.roulette { left: 47%; background-color:rgb(253, 249, 172);}
.dungle { left: 0; top: 39%; background-color: rgb(255, 199, 227);}
.tournament { left: 47%; top: 39%; background-color: rgb(193, 251, 166);}
.btn { position: absolute; left:10%; top: 90%; width: 80%; height: 10%; }

a {text-decoration:none; color: white; font-size: 1.2rem; font-weight:500; text-shadow: 0px 2px 2px grey;}
a:hover {color:rgb(59, 59, 59); cursor:pointer;}  