/* body { margin: 0; text-align: center; background-color: rgb(81, 110, 205); color:white;}
header {position: relative; margin: 10% 0 0 0; width: 100%; height: 30%;}
h1 {margin:3%; font-size: 2.5rem; text-shadow: 0px 2px 2px grey;} */
h3 {margin: 3%;}
/* a {text-decoration: none; color:white; text-shadow: 0px 2px 2px grey; cursor: pointer;}
a:hover { font-size: 1.5rem; font-weight: bold;}
aside { padding: 2% 0 2% 0; } */
/* article { position: absolute; width: 100%; height: auto;} */
/* footer {margin-top: 10%; width: 100%; height: auto; } */

.d-none {display: none;}

.subtitle { font-size: 1rem; }
#subtitle { margin-top: 5%; padding: 0 3% 3% 3%;}

.jebiboard { margin: 5%; height: auto; background-color: rgba(97, 127, 224, 0.765); border-radius: 10px;
            display: flex; flex-flow:row wrap; justify-content: space-around; align-items: stretch;}
.jebiboard > p { width: 20%; margin:2%; height: 60px; background-color: rgb(53, 52, 50);
                line-height: 60px; border-radius: 5px;}
.jebiboard > p:hover {background-color: rgb(67, 68, 70);}

form {padding: 3%; margin:0 10% 0 10%; background-color:rgba(97, 127, 224, 0.765); border-radius: 10px;}
select {  height: 40px; width: 180px; border-radius: 5px; line-height: 10px; text-align: center;
          padding: 10px; white-space: nomal;}
.select { display:inline-block; font-size: 1.1rem; margin:15px;}
fieldset > input {width: 200px; height: 30px; margin-top: 20px; border-radius: 5px; border-color: white; border-style: solid;}
fieldset { display: inline-block; width: 80%; margin: 5% 0 5% 0; padding: 10px 2px 30px 2px;
           border-style:dotted; border-color: rgb(124, 143, 205);}
fieldset > legend {font-size: 1.2rem;}
.jebibtn {margin: 5%; width: 100px; height: 30px; border-radius: 5px; border-color: white; background-color: white;
       font-weight: bold; color: rgb(81, 110, 205); border-style: solid; cursor: pointer;}
