/* body { margin: 0; text-align: center; background-color: rgb(81, 110, 205); color:white;}
header {position: relative; margin: 0; width: 100%; height: 30%;}
h1 {margin:3%; font-size: 2.5rem; text-shadow: 0px 2px 2px grey;} */
h3 {margin: 3%;}
/* a {text-decoration: none; color:white; text-shadow: 0px 2px 2px grey; cursor: pointer;}
a:hover { font-size: 1.5rem; font-weight: bold;} */

/* article { padding:3%; height: 2000px; background-color: bisque;} */

.d-none {display: none;}
.pieboard { position: relative; margin:0; width: 100%;}
.dot { position: absolute; left: 47%; top:-3%; font-size: 3em; margin:0; z-index:2;}
.pieset > span { display: inline-block; font-size: 1.1rem; margin: 15px;}
.pieset > input {width: 120px; height: 30px; margin-top: 20px; border-radius: 5px; border-color: white; border-style: solid;}
.pieset > button, .piebtn {margin: 5% 0 5% 3%; width: 100px; height: 30px; border-radius: 5px; border-color: white;
                background-color: white; font-weight: bold; color: rgb(81, 110, 205); border-style: solid; cursor: pointer;}

