<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick Helper - 결정장애 없는 세상에서 살고 싶어요</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <header>
        <h1>Pick Helper</h1>
        <div id="subtitle">
            <span class="subtitle">결정장애는 이제 그만!</span><br/>
            <span class="subtitle">랜덤게임으로 재미있고 빠른 결정✅</span>
        </div>
    </header>
    <article>
        <div class="gamecontainer">
            <div id="sadari" class="gamebox sadari" onclick="location.href='/sadari';">사다리 타기</div>
            <div id="roulette" class="gamebox roulette" onclick="location.href='/roulette';">원판 돌리기</div>    
            <div id="dungle" class="gamebox dungle" onclick="location.href='/dungle';">둥글게둥글게</div>
            <div id="tournament" class="gamebox tournament" onclick="location.href='/tournament';">월드컵</div>
            <div class="btn"><a href="/guest">방문자 후기 보러가기❤️</a></div>
        </div>
    </article>
    <footer><p>programed by rooney</p></footer>
</body>
</html>