body { margin: 0; text-align: center; background-color: rgb(81, 110, 205); color:white;}
h1 {margin:5% 5% 3% 5%; font-size: 2.5rem; text-shadow: 0px 2px 2px grey;}
header {position: relative; margin: 0; width: 100%; height: 30%;}
article {position: relative; margin: 0; width: 100%; height: 500px;}
footer {position: relative; margin: 0; width: 100%; height: 50px;}

.subtitle { font-size: 1rem; }
#subtitle {padding: 0 3% 3% 3%;}

.gamecontainer { position: absolute; left: 10%; top:5%;
                 width: 80%; height: 80%; }
.gamebox { margin: 3%; position: absolute; 
           line-height: 1000%; font-weight: bold; font-size: 1rem;
           color:rgb(66, 66, 66); text-shadow: 0px 2px 2px white;
           width: 46%; height: 38%; border-radius: 10px;}
.gamebox:hover {font-size: 1.5rem; font-weight: 0; line-height: 700%; cursor:pointer;
                color: white; text-shadow: 0px 2px 2px grey; background-color:rgb(81, 110, 205);}
.jebi { background-color: bisque;}
.roulette { left: 47%;background-color: aquamarine;}
.dungle { top: 40%; background-color: rgb(255, 152, 243);}
.tournament { left: 47%; top: 40%; background-color: rgb(250, 255, 161);}
.btn { position: absolute; left:10%; top: 95%; width: 80%; height: 10%; }

a {text-decoration:none; color: white; font-size: 1.2rem; font-weight:bold; text-shadow: 0px 2px 2px grey;}
a:hover {font-size: 1.5rem; cursor:pointer;}  